.tag {
    border-radius: 20px;
    border: 2px solid orange;
    width: 400px;
    height: 250px;
    background-color: white;
    color: black;
  }
  
  header {
    background: orange;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 2px;
  }
  
  .hello {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: white;
  }
  
  .mynameis {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }
  
  .dottedline {
    border-top: 3px dotted black;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
  }